<ion-list class="bg-transparent">
  <ion-item class="txt-white" color="none" lines="white">
    <ion-label>
      <h2><b>{{products.length > 1 ? "Produtos" : "Produtos"}}</b></h2>
    </ion-label>
  </ion-item>
  <ion-item class="txt-white" color="none" lines="white" *ngFor="let p of products">
    <ion-label>{{p.name}}</ion-label>
    <ion-label class="ion-text-right">
      R$ {{p.price}}
    </ion-label>
  </ion-item>
  <ion-item class="txt-white" color="none" lines="white">
    <ion-label>
      <h2><b>Total</b></h2>
    </ion-label>
  </ion-item>
  <ion-item class="txt-white" color="none" lines="white">
    <ion-label class="ion-text-right">
      R$ {{ getTotal(products) }}
    </ion-label>
  </ion-item>
</ion-list>