<ion-header>
  <ion-toolbar>
    <ion-title>{{delivery.title}} - #{{delivery.id}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="txt-white" color="none" lines="white">
    <ion-label>
      <h2><b>Cliente</b></h2>
    </ion-label>
  </ion-item>
  <ion-item class="txt-white" color="none" lines="white">
    <p>{{delivery.client.name}}</p>
  </ion-item>
  <product-list [products]="delivery.products"></product-list>
  <ion-item class="txt-white" color="none" lines="none">
    <ion-button color="danger" slot="start" size="default" (click)="dismissModal()">
      Cancelar
    </ion-button>
    <ion-button (click)="confirmDelete(delivery)" color="success" slot="end" size="default">
      Finalizar
    </ion-button>
  </ion-item>
</ion-content>